<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# SQL Exam

## Instructions to students

This challenge is designed to determine how much you have learned so far and will test your knowledge on SQL.

The answers for this challenge should be selected on Athena for each corresponding multiple-choice question. The questions are included in this notebook and are numbered according to the Athena questions. The options for each question have also been included.

Do not add or remove cells in this notebook. Do not edit or remove the `%%sql` comment as it is required to run each cell.

**_Good luck!_**

## The TMDb database

In this supplementary exam, you will be exploring [The Movie Database](https://www.themoviedb.org/) – an online movie and TV show database that houses some of the most popular movies and TV shows at your fingertips. The TMDb database supports 39 official languages used in over 180 countries daily and dates back all the way to 2008. 


<img src="https://github.com/Explore-AI/Pictures/blob/master/sql_tmdb.jpg?raw=true" width=80%/>


Below is an Entity Relationship Diagram (ERD) of the TMDb database:

<img src="https://github.com/Explore-AI/Pictures/blob/master/TMDB_ER_diagram.png?raw=true" width=70%/>

As can be seen from the ERD, the TMDb database consists of `12 tables` containing information about movies, cast, genre, and so much more.  

Let's get started!

## Loading the database

Before you begin, you need to prepare your SQL environment.  You can do this by loading the magic command `%load_ext sql`.

In [4]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (0.3.9)
Requirement already satisfied: prettytable in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython-sql) (9.5.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython>=1.0->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython>=1.0->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython>=1.0->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython>=1.0->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython>=1.0->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from ipython>=1.0->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=1.0->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.4)
Requirement already satisfied: greenlet>=1 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.15.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from stack_data->ipython>=1.0->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from stack_data->ipython>=1.0->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in c:\users\admin\anaconda\anaconda2\envs\sqlpackage\lib\site-packages (from stack_data->ipython>=1.0->ipython-sql) (0.2.3)

In [7]:
!pip install 'sqlalchemy<2.0'

The system cannot find the file specified.

In [10]:
!conda install -c conda-forge ipython-sql

Jupyter detected...
3 channel Terms of Service accepted
Channels:
 - conda-forge
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
    current version: 25.5.1
    latest version: 25.9.1

Please update conda by running

    $ conda update -n base -c defaults conda

In [3]:
conda install -c conda-forge ipython-sql

Jupyter detected...
3 channel Terms of Service accepted
Retrieving notices: done
Channels:
 - conda-forge
 - defaults
Platform: win-64
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: C:\Users\ADMIN\anaconda\anaconda2\envs\SQLPACKAGE

  added / updated specs:
    - ipython-sql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2025.10.5  |       h4c7d964_0         153 KB  conda-forge
    certifi-2025.10.5          |     pyhd8ed1ab_0         156 KB  conda-forge
    greenlet-3.2.4             |  py313hfe59770_1         219 KB  conda-forge
    ipython-sql-0.3.9          |  pyhd8ed1ab_1004          18 KB  conda-forge
    ipython_genutils-0.2.0     |     pyhd8ed1ab_2          27 KB  conda-forge
    openssl-3.5.4              |       h725018a_0         8.8 MB  conda-forge
    prettytable-3.16.0         |     pyhd8ed1ab_0          34 KB  conda-forge
    sqlalchemy-2.0.44          |  py313h5ea7bf4_0         3.4 MB  conda-forge
    sqlparse-0.5.3             |     pyhd8ed1ab_0          39 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        12.9 MB

The following NEW packages will be INSTALLED:

  greenlet           conda-forge/win-64::greenlet-3.2.4-py313hfe59770_1
  ipython-sql        conda-forge/noarch::ipython-sql-0.3.9-pyhd8ed1ab_1004
  ipython_genutils   conda-forge/noarch::ipython_genutils-0.2.0-pyhd8ed1ab_2
  prettytable        conda-forge/noarch::prettytable-3.16.0-pyhd8ed1ab_0
  sqlalchemy         conda-forge/win-64::sqlalchemy-2.0.44-py313h5ea7bf4_0
  sqlparse           conda-forge/noarch::sqlparse-0.5.3-pyhd8ed1ab_0

The following packages will be UPDATED:

  ca-certificates    pkgs/main/win-64::ca-certificates-202~ --> conda-forge/noarch::ca-certificates-2025.10.5-h4c7d964_0
  certifi            pkgs/main/win-64::certifi-2025.8.3-py~ --> conda-forge/noarch::certifi-2025.10.5-pyhd8ed1ab_0
  openssl              pkgs/main::openssl-3.0.17-h35632f6_0 --> conda-forge::openssl-3.5.4-h725018a_0



Downloading and Extracting Packages: ...working...
openssl-3.5.4        | 8.8 MB    |            |   0%

sqlalchemy-2.0.44    | 3.4 MB    |            |   0%


greenlet-3.2.4       | 219 KB    |            |   0%



certifi-2025.10.5    | 156 KB    |            |   0%




ca-certificates-2025 | 153 KB    |            |   0%





sqlparse-0.5.3       | 39 KB     |            |   0%






prettytable-3.16.0   | 34 KB     |            |   0%







ipython_genutils-0.2 | 27 KB     |            |   0%








ipython-sql-0.3.9    | 18 KB     |            |   0%




ca-certificates-2025 | 153 KB    | #          |  10%

sqlalchemy-2.0.44    | 3.4 MB    |            |   0%
openssl-3.5.4        | 8.8 MB    |            |   0%




ca-certificates-2025 | 153 KB    | ####1      |  42%

sqlalchemy-2.0.44    | 3.4 MB    | 1          |   2%
openssl-3.5.4        | 8.8 MB    |            |   1%

sqlalchemy-2.0.44    | 3.4 MB    | 2          |   3%


greenlet-3.2.4       | 219 KB    | 7          |   7%
openssl-3.5.4        | 8.8 MB    | 1          |   2%


greenlet-3.2.4       | 219 KB    | #4         |  15%

sqlalchemy-2.0.44    | 3.4 MB    | 5          |   5%

sqlalchemy-2.0.44    | 3.4 MB    | 7          |   7%



certifi-2025.10.5    | 156 KB    | #          |  10%
openssl-3.5.4        | 8.8 MB    | 2          |   2%


greenlet-3.2.4       | 219 KB    | ###6       |  37%

sqlalchemy-2.0.44    | 3.4 MB    | 9          |   9%



certifi-2025.10.5    | 156 KB    | ##         |  20%


greenlet-3.2.4       | 219 KB    | #####1     |  51%
openssl-3.5.4        | 8.8 MB    | 3          |   3%

sqlalchemy-2.0.44    | 3.4 MB    | #          |  11%
openssl-3.5.4        | 8.8 MB    | 3          |   4%



certifi-2025.10.5    | 156 KB    | ###        |  31%


greenlet-3.2.4       | 219 KB    | ######5    |  66%

sqlalchemy-2.0.44    | 3.4 MB    | #2         |  13%
openssl-3.5.4        | 8.8 MB    | 4          |   4%



certifi-2025.10.5    | 156 KB    | ######1    |  61%

sqlalchemy-2.0.44    | 3.4 MB    | #4         |  14%


greenlet-3.2.4       | 219 KB    | #########5 |  95%
openssl-3.5.4        | 8.8 MB    | 4          |   5%


greenlet-3.2.4       | 219 KB    | ########## | 100%



certifi-2025.10.5    | 156 KB    | ########1  |  82%




ca-certificates-2025 | 153 KB    | #########4 |  94%

sqlalchemy-2.0.44    | 3.4 MB    | #6         |  16%
openssl-3.5.4        | 8.8 MB    | 5          |   6%



certifi-2025.10.5    | 156 KB    | ########## | 100%




ca-certificates-2025 | 153 KB    | ########## | 100%

sqlalchemy-2.0.44    | 3.4 MB    | #8         |  18%
openssl-3.5.4        | 8.8 MB    | 6          |   6%

sqlalchemy-2.0.44    | 3.4 MB    | ##         |  20%
openssl-3.5.4        | 8.8 MB    | 7          |   7%
openssl-3.5.4        | 8.8 MB    | 7          |   8%

sqlalchemy-2.0.44    | 3.4 MB    | ##2        |  22%



certifi-2025.10.5    | 156 KB    | ########## | 100%



certifi-2025.10.5    | 156 KB    | ########## | 100%





sqlparse-0.5.3       | 39 KB     | ####       |  41%
openssl-3.5.4        | 8.8 MB    | 8          |   9%





sqlparse-0.5.3       | 39 KB     | ########## | 100%

sqlalchemy-2.0.44    | 3.4 MB    | ##4        |  24%







ipython_genutils-0.2 | 27 KB     | #####8     |  58%






prettytable-3.16.0   | 34 KB     | ####6      |  47%







ipython_genutils-0.2 | 27 KB     | ########## | 100%




ca-certificates-2025 | 153 KB    | ########## | 100%






prettytable-3.16.0   | 34 KB     | ########## | 100%

sqlalchemy-2.0.44    | 3.4 MB    | ##5        |  26%
openssl-3.5.4        | 8.8 MB    | 9          |   9%

sqlalchemy-2.0.44    | 3.4 MB    | ##7        |  28%
openssl-3.5.4        | 8.8 MB    | #          |  10%

sqlalchemy-2.0.44    | 3.4 MB    | ##9        |  30%
openssl-3.5.4        | 8.8 MB    | #          |  11%
openssl-3.5.4        | 8.8 MB    | #1         |  12%

sqlalchemy-2.0.44    | 3.4 MB    | ###2       |  32%








ipython-sql-0.3.9    | 18 KB     | ########7  |  87%








ipython-sql-0.3.9    | 18 KB     | ########## | 100%
openssl-3.5.4        | 8.8 MB    | #2         |  13%

sqlalchemy-2.0.44    | 3.4 MB    | ###5       |  35%







ipython_genutils-0.2 | 27 KB     | ########## | 100%







ipython_genutils-0.2 | 27 KB     | ########## | 100%





sqlparse-0.5.3       | 39 KB     | ########## | 100%





sqlparse-0.5.3       | 39 KB     | ########## | 100%

sqlalchemy-2.0.44    | 3.4 MB    | ###7       |  37%
openssl-3.5.4        | 8.8 MB    | #3         |  13%

sqlalchemy-2.0.44    | 3.4 MB    | ####       |  40%
openssl-3.5.4        | 8.8 MB    | #4         |  14%






prettytable-3.16.0   | 34 KB     | ########## | 100%






prettytable-3.16.0   | 34 KB     | ########## | 100%








ipython-sql-0.3.9    | 18 KB     | ########## | 100%

sqlalchemy-2.0.44    | 3.4 MB    | ####2      |  42%








ipython-sql-0.3.9    | 18 KB     | ########## | 100%

sqlalchemy-2.0.44    | 3.4 MB    | ####4      |  45%


greenlet-3.2.4       | 219 KB    | ########## | 100%
openssl-3.5.4        | 8.8 MB    | #5         |  15%

sqlalchemy-2.0.44    | 3.4 MB    | ####7      |  48%
openssl-3.5.4        | 8.8 MB    | #5         |  16%

sqlalchemy-2.0.44    | 3.4 MB    | #####2     |  52%

sqlalchemy-2.0.44    | 3.4 MB    | #####5     |  55%
openssl-3.5.4        | 8.8 MB    | #6         |  17%

sqlalchemy-2.0.44    | 3.4 MB    | #####8     |  59%

sqlalchemy-2.0.44    | 3.4 MB    | ######1    |  62%
openssl-3.5.4        | 8.8 MB    | #7         |  17%

sqlalchemy-2.0.44    | 3.4 MB    | ######5    |  65%

sqlalchemy-2.0.44    | 3.4 MB    | ######9    |  69%
openssl-3.5.4        | 8.8 MB    | #7         |  18%

sqlalchemy-2.0.44    | 3.4 MB    | #######2   |  72%
openssl-3.5.4        | 8.8 MB    | #8         |  18%

sqlalchemy-2.0.44    | 3.4 MB    | #######5   |  76%
openssl-3.5.4        | 8.8 MB    | #9         |  19%
openssl-3.5.4        | 8.8 MB    | #9         |  20%

sqlalchemy-2.0.44    | 3.4 MB    | #######9   |  79%
openssl-3.5.4        | 8.8 MB    | ##         |  20%

sqlalchemy-2.0.44    | 3.4 MB    | ########1  |  82%
openssl-3.5.4        | 8.8 MB    | ##         |  21%

sqlalchemy-2.0.44    | 3.4 MB    | ########4  |  85%
openssl-3.5.4        | 8.8 MB    | ##1        |  21%

sqlalchemy-2.0.44    | 3.4 MB    | ########6  |  87%
openssl-3.5.4        | 8.8 MB    | ##1        |  22%
openssl-3.5.4        | 8.8 MB    | ##2        |  22%

sqlalchemy-2.0.44    | 3.4 MB    | ########9  |  89%

sqlalchemy-2.0.44    | 3.4 MB    | #########  |  91%
openssl-3.5.4        | 8.8 MB    | ##2        |  23%

sqlalchemy-2.0.44    | 3.4 MB    | #########3 |  93%
openssl-3.5.4        | 8.8 MB    | ##3        |  24%
openssl-3.5.4        | 8.8 MB    | ##4        |  24%

sqlalchemy-2.0.44    | 3.4 MB    | #########5 |  95%
openssl-3.5.4        | 8.8 MB    | ##4        |  25%

sqlalchemy-2.0.44    | 3.4 MB    | #########7 |  97%
openssl-3.5.4        | 8.8 MB    | ##5        |  25%

sqlalchemy-2.0.44    | 3.4 MB    | #########9 |  99%

sqlalchemy-2.0.44    | 3.4 MB    | ########## | 100%
openssl-3.5.4        | 8.8 MB    | ##5        |  26%
openssl-3.5.4        | 8.8 MB    | ##6        |  26%
openssl-3.5.4        | 8.8 MB    | ##7        |  27%
openssl-3.5.4        | 8.8 MB    | ##7        |  28%
openssl-3.5.4        | 8.8 MB    | ##8        |  28%
openssl-3.5.4        | 8.8 MB    | ##8        |  29%
openssl-3.5.4        | 8.8 MB    | ##9        |  30%
openssl-3.5.4        | 8.8 MB    | ###        |  30%
openssl-3.5.4        | 8.8 MB    | ###        |  31%
openssl-3.5.4        | 8.8 MB    | ###1       |  31%
openssl-3.5.4        | 8.8 MB    | ###1       |  32%
openssl-3.5.4        | 8.8 MB    | ###2       |  32%
openssl-3.5.4        | 8.8 MB    | ###2       |  33%
openssl-3.5.4        | 8.8 MB    | ###3       |  33%
openssl-3.5.4        | 8.8 MB    | ###3       |  34%
openssl-3.5.4        | 8.8 MB    | ###4       |  35%
openssl-3.5.4        | 8.8 MB    | ###5       |  36%
openssl-3.5.4        | 8.8 MB    | ###6       |  36%
openssl-3.5.4        | 8.8 MB    | ###6       |  37%
openssl-3.5.4        | 8.8 MB    | ###7       |  38%
openssl-3.5.4        | 8.8 MB    | ###8       |  38%
openssl-3.5.4        | 8.8 MB    | ###8       |  39%
openssl-3.5.4        | 8.8 MB    | ###9       |  39%
openssl-3.5.4        | 8.8 MB    | ###9       |  40%
openssl-3.5.4        | 8.8 MB    | ####       |  40%
openssl-3.5.4        | 8.8 MB    | ####1      |  41%
openssl-3.5.4        | 8.8 MB    | ####1      |  42%
openssl-3.5.4        | 8.8 MB    | ####2      |  42%

sqlalchemy-2.0.44    | 3.4 MB    | ########## | 100%
openssl-3.5.4        | 8.8 MB    | ####3      |  43%
openssl-3.5.4        | 8.8 MB    | ####3      |  44%
openssl-3.5.4        | 8.8 MB    | ####4      |  44%
openssl-3.5.4        | 8.8 MB    | ####4      |  45%
openssl-3.5.4        | 8.8 MB    | ####5      |  45%
openssl-3.5.4        | 8.8 MB    | ####5      |  46%
openssl-3.5.4        | 8.8 MB    | ####6      |  46%
openssl-3.5.4        | 8.8 MB    | ####6      |  47%
openssl-3.5.4        | 8.8 MB    | ####7      |  47%
openssl-3.5.4        | 8.8 MB    | ####7      |  48%
openssl-3.5.4        | 8.8 MB    | ####8      |  48%
openssl-3.5.4        | 8.8 MB    | ####8      |  49%
openssl-3.5.4        | 8.8 MB    | ####9      |  49%
openssl-3.5.4        | 8.8 MB    | ####9      |  50%
openssl-3.5.4        | 8.8 MB    | #####      |  50%
openssl-3.5.4        | 8.8 MB    | #####1     |  51%
openssl-3.5.4        | 8.8 MB    | #####1     |  52%
openssl-3.5.4        | 8.8 MB    | #####2     |  52%
openssl-3.5.4        | 8.8 MB    | #####2     |  53%
openssl-3.5.4        | 8.8 MB    | #####2     |  53%
openssl-3.5.4        | 8.8 MB    | #####3     |  53%
openssl-3.5.4        | 8.8 MB    | #####4     |  54%
openssl-3.5.4        | 8.8 MB    | #####5     |  55%
openssl-3.5.4        | 8.8 MB    | #####5     |  56%
openssl-3.5.4        | 8.8 MB    | #####6     |  56%
openssl-3.5.4        | 8.8 MB    | #####7     |  57%
openssl-3.5.4        | 8.8 MB    | #####7     |  58%
openssl-3.5.4        | 8.8 MB    | #####8     |  58%
openssl-3.5.4        | 8.8 MB    | #####9     |  59%
openssl-3.5.4        | 8.8 MB    | #####9     |  60%
openssl-3.5.4        | 8.8 MB    | ######     |  61%
openssl-3.5.4        | 8.8 MB    | ######1    |  61%
openssl-3.5.4        | 8.8 MB    | ######2    |  62%
openssl-3.5.4        | 8.8 MB    | ######2    |  63%
openssl-3.5.4        | 8.8 MB    | ######3    |  63%
openssl-3.5.4        | 8.8 MB    | ######4    |  65%
openssl-3.5.4        | 8.8 MB    | ######5    |  65%
openssl-3.5.4        | 8.8 MB    | ######6    |  66%
openssl-3.5.4        | 8.8 MB    | ######7    |  67%
openssl-3.5.4        | 8.8 MB    | ######7    |  68%
openssl-3.5.4        | 8.8 MB    | ######8    |  68%
openssl-3.5.4        | 8.8 MB    | ######8    |  69%
openssl-3.5.4        | 8.8 MB    | ######9    |  70%
openssl-3.5.4        | 8.8 MB    | #######    |  70%
openssl-3.5.4        | 8.8 MB    | #######    |  71%
openssl-3.5.4        | 8.8 MB    | #######1   |  72%
openssl-3.5.4        | 8.8 MB    | #######2   |  72%
openssl-3.5.4        | 8.8 MB    | #######3   |  73%
openssl-3.5.4        | 8.8 MB    | #######3   |  74%
openssl-3.5.4        | 8.8 MB    | #######4   |  75%
openssl-3.5.4        | 8.8 MB    | #######5   |  76%
openssl-3.5.4        | 8.8 MB    | #######6   |  76%
openssl-3.5.4        | 8.8 MB    | #######6   |  77%
openssl-3.5.4        | 8.8 MB    | #######7   |  78%
openssl-3.5.4        | 8.8 MB    | #######8   |  78%
openssl-3.5.4        | 8.8 MB    | #######9   |  79%
openssl-3.5.4        | 8.8 MB    | #######9   |  80%
openssl-3.5.4        | 8.8 MB    | ########   |  81%
openssl-3.5.4        | 8.8 MB    | ########1  |  81%
openssl-3.5.4        | 8.8 MB    | ########2  |  82%
openssl-3.5.4        | 8.8 MB    | ########3  |  83%
openssl-3.5.4        | 8.8 MB    | ########3  |  84%
openssl-3.5.4        | 8.8 MB    | ########4  |  85%
openssl-3.5.4        | 8.8 MB    | ########5  |  85%
openssl-3.5.4        | 8.8 MB    | ########6  |  86%
openssl-3.5.4        | 8.8 MB    | ########6  |  87%
openssl-3.5.4        | 8.8 MB    | ########7  |  87%
openssl-3.5.4        | 8.8 MB    | ########7  |  88%
openssl-3.5.4        | 8.8 MB    | ########9  |  89%
openssl-3.5.4        | 8.8 MB    | ########9  |  90%
openssl-3.5.4        | 8.8 MB    | #########  |  90%
openssl-3.5.4        | 8.8 MB    | #########1 |  91%
openssl-3.5.4        | 8.8 MB    | #########1 |  92%
openssl-3.5.4        | 8.8 MB    | #########2 |  93%
openssl-3.5.4        | 8.8 MB    | #########3 |  93%
openssl-3.5.4        | 8.8 MB    | #########4 |  94%
openssl-3.5.4        | 8.8 MB    | #########4 |  95%
openssl-3.5.4        | 8.8 MB    | #########5 |  95%
openssl-3.5.4        | 8.8 MB    | #########6 |  96%
openssl-3.5.4        | 8.8 MB    | #########6 |  97%
openssl-3.5.4        | 8.8 MB    | #########7 |  98%
openssl-3.5.4        | 8.8 MB    | #########8 |  98%
openssl-3.5.4        | 8.8 MB    | #########9 |  99%
openssl-3.5.4        | 8.8 MB    | #########9 | 100%
openssl-3.5.4        | 8.8 MB    | ########## | 100%
openssl-3.5.4        | 8.8 MB    | ########## | 100%













































                                                      done
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
    current version: 25.5.1
    latest version: 25.9.1

Please update conda by running

    $ conda update -n base -c defaults conda

Next, go ahead and load your database. To do this, you will need to ensure you have downloaded the `TMDB.db` sqlite file from Athena and have stored it in a known location.

In [15]:
from sqlalchemy import MetaData, Table, create_engine

engine = create_engine("sqlite:///mydb.db")
metadata = MetaData()

# Define a table
users = Table(
    "users", metadata,
    autoload_with=engine   # or use this to reflect existing tables
)

# Or to create tables:
metadata.create_all(engine)

NoSuchTableError: users

In [14]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMKK.db

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

If the above line didn't throw out any errors, then you should be good to go. Good luck with the exam!

## Questions on SQL

Use the given cell below each question to execute your SQL queries to find the correct input from the options provided. Your solution should match one of the multiple-choice questions on Athena.

### Question 1

Who won the Oscar for “Actor in a Leading Role” in  2015?

(Hint: The winner is indicated as '1.0'.)

**Options:** 

  - Micheal Fassbender
  - Natalie Portman
  - Leonardo DiCaprio
  - Eddie Redmayne

In [12]:
%%sql
SELECT name
FROM oscars
WHERE year = '2015'
  AND award = 'Actor in a Leading Role'
  AND winner = '1.0';

 * sqlite:///TMKK.db
Done.

[('Leonardo DiCaprio',)]

### Question 2

What query will produce the ten oldest movies in the database?

**Options:**

 - SELECT TOP(10) * FROM movies WHERE release_date ORDER BY release_date ASC

 - SELECT  * FROM movies WHERE release_date IS NOT NULL ORDER BY release_date ASC LIMIT 10

 - SELECT * FROM movies WHERE release_date IS NOT NULL ORDER BY release_date DESC LIMIT 10

 -  SELECT * FROM movies WHERE release_date IS NULL ORDER BY release_date DESC LIMIT 10

In [13]:
%%sql
SELECT  * FROM movies WHERE release_date IS NOT NULL ORDER BY release_date ASC LIMIT 10

 * sqlite:///TMKK.db
Done.

[(3059, 'Intolerance', '1916-09-04 00:00:00.000000', 385907, None, 'en', 'Intolerance', 'The story of a poor young woman, separated by prejudice from her husband and baby, is interwoven with tales of intolerance from throughout history.', 3.232447, 8394751.0, 197.0, 'Released', 'The Cruel Hand of Intolerance', 7.4, 60),
 (3060, 'The Big Parade', '1925-11-05 00:00:00.000000', 245000, None, 'en', 'The Big Parade', "The story of an idle rich boy who joins the US Army's Rainbow Division and is sent to France to fight in World War I, becomes friends with two working class men, experiences the horrors of trench warfare, and finds love with a French girl.", 0.785744, 22000000.0, 151.0, 'Released', None, 7.0, 21),
 (19, 'Metropolis', '1927-01-10 00:00:00.000000', 92620000, None, 'de', 'Metropolis', "In a futuristic city sharply divided between the working class and the city planners, the son of the city's mastermind falls in love with a working class prophet who predicts the coming of a savior to mediate their differences.", 32.351527, 650422.0, 153.0, 'Released', 'There can be no understanding between the hands and the brain unless the heart acts as mediator.', 8.0, 657),
 (905, "Pandora's Box", '1929-01-30 00:00:00.000000', 0, None, 'de', 'Die Bnchse der Pandora', 'The rise and inevitable fall of an amoral but naive young woman whose insouciant eroticism inspires lust and violence in those around her.', 1.824184, 0.0, 109.0, 'Released', None, 7.6, 45),
 (65203, 'The Broadway Melody', '1929-02-08 00:00:00.000000', 379000, None, 'en', 'The Broadway Melody', "Harriet and Queenie Mahoney, a vaudeville act, come to Broadway, where their friend Eddie Kerns needs them for his number in one of Francis Zanfield' ... (195 characters truncated) ... eenie recognizes, that she is for Jock nothing more than a toy, and it also takes a while till Harriet recognizes, that Eddie is in love with Queenie", 0.968865, 4358000.0, 100.0, 'Released', "The pulsating drama of Broadway's bared heart speaks and sings with a voice to stir your soul!", 5.0, 19),
 (22301, "Hell's Angels", '1930-11-15 00:00:00.000000', 3950000, None, 'en', "Hell's Angels", "Two brothers attending Oxford enlist with the Royal Flying Corps when World War I breaks out. Roy and Monte Rutledge have very different personalitie ... (576 characters truncated) ... t a strategic German munitions facility is a booming success, but with a squadron of fighters bearing down on them afterwards, escape seems unlikely.", 8.484123, 8000000.0, 127.0, 'Released', "Howard Hughes' Thrilling Multi-Million Dollar Air Spectacle", 6.1, 19),
 (22649, 'A Farewell to Arms', '1932-12-08 00:00:00.000000', 4, None, 'en', 'A Farewell to Arms', "British nurse Catherine Barkley (Helen Hayes) and American Lieutenant Frederic Henry (Gary Cooper) fall in love during the First World War in Italy.  ... (105 characters truncated) ... the war rages on. Academy Awards winner for Best Cinematography and for Best Sound, Recording. Nominated for Best Picture and for Best Art Direction.", 1.199451, 25.0, 89.0, 'Released', 'Every woman who has loved will understand', 6.2, 28),
 (3062, '42nd Street', '1933-02-02 00:00:00.000000', 439000, None, 'en', '42nd Street', 'A producer puts on what may be his last Broadway show, and at the last moment a chorus girl has to replace the star.', 1.933366, 2281000.0, 89.0, 'Released', None, 6.1, 37),
 (43595, 'She Done Him Wrong', '1933-02-09 00:00:00.000000', 200000, None, 'en', 'She Done Him Wrong', '"New York singer and nightclub owner Lady Lou has more men friends than you can imagine. Unfortunately one of them is a vicious criminal who\'s escap ... (52 characters truncated) ... ing she hasn\'t exactly been faithful in his absence. Help is at hand in the form of young Captain Cummings a local temperance league leader though."', 0.622752, 2200000.0, 66.0, 'Released', "Mae West gives a 'Hot Time' to the nation!", 5.1, 27),
 (3078, 'It Happened One Night', '1934-02-22 00:00:00.000000', 325000, None, 'en', 'It Happened One Night', "Ellie Andrews has just tied the knot with society aviator King Westley when she is whisked away to her father's yacht and out of King's clutches. Ell ... (233 characters truncated) ... ts her back to her husband, or he'll blow the whistle on Ellie to her father. Either way, Peter gets what he wants... a really juicy newspaper story!", 11.871424, 4500000.0, 105.0, 'Released', 'TOGETHER... for the first time', 7.7, 275)]

### Question 3

How many unique awards are there in the Oscars table?

**Options:**
 - 141
 - 53 
 - 80
 - 114

In [14]:
%%sql
SELECT COUNT(DISTINCT award) AS unique_awards
FROM oscars;

 * sqlite:///TMKK.db
Done.

[(114,)]

### Question 4

How many movies are there that contain the word “Spider” within their title?

**Options:**
 - 0
 - 5
 - 1
 - 9

In [16]:
%%sql
SELECT  AS spider_movies
FROM movies
WHERE title LIKE '%Spider%';

 * sqlite:///TMKK.db
(sqlite3.OperationalError) near "AS": syntax error
[SQL: SELECT  AS spider_movies
FROM movies
WHERE title LIKE '%Spider%';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

### Question 5

How many movies are there that are both in the "Thriller" genre and contain the word “love” anywhere in the keywords?


**Options:**
 - 48
 - 38
 - 14
 - 1

In [17]:
%%sql
SELECT COUNT(DISTINCT m.movie_id) AS thriller_love_movies
FROM movies m
JOIN genremap gm ON m.movie_id = gm.movie_id
JOIN genres g ON gm.genre_id = g.genre_id
JOIN keywordmap km ON m.movie_id = km.movie_id
JOIN keywords k ON km.keyword_id = k.keyword_id
WHERE g.genre_name = 'Thriller'
  AND k.keyword_name LIKE '%love%';

 * sqlite:///TMKK.db
Done.

[(48,)]

### Question 6

How many movies are there that were released between 1 August 2006 ('2006-08-01') and 1 October 2009 ('2009-10-01') that have a popularity score of more than 40 and a budget of less than 50 000 000?

 
**Options:**

 - 29
 - 23
 - 28
 - 35

In [18]:
%%sql
SELECT COUNT(*) AS movie_count
FROM movies
WHERE release_date BETWEEN '2006-08-01' AND '2009-10-01'
  AND popularity > 40
  AND budget < 50000000;

 * sqlite:///TMKK.db
Done.

[(29,)]

### Question 7

How many unique characters has "Vin Diesel" played so far in the database?

**Options:**
 - 24
 - 19
 - 18
 - 16

In [31]:
%%sql
SELECT COUNT(DISTINCT c.characters) AS unique_character_count
FROM casts c
JOIN actors a ON c.actor_id = a.actor_id
WHERE a.actor_name = 'Vin Diesel';

 * sqlite:///TMKK.db
Done.

[(16,)]

### Question 8

What are the genres of the movie “The Royal Tenenbaums”?


**Options:**
 - Action, Romance
 - Drama, Comedy
 - Crime, Thriller
 - Drama, Romance

In [19]:
%%sql
SELECT g.genre_name
FROM movies m
JOIN genremap gm ON m.movie_id = gm.movie_id
JOIN genres g ON gm.genre_id = g.genre_id
WHERE m.title = 'The Royal Tenenbaums';

 * sqlite:///TMKK.db
Done.

[('Drama',), ('Comedy',)]

### Question 9

What are the three production companies that have the highest movie popularity score on average, as recorded within the database?


**Options:**

 - MCL Films S.A., Turner Pictures, and George Stevens Productions
 - The Donners' Company, Bulletproof Cupid, and Kinberg Genre
 - Bulletproof Cupid, The Donners' Company, and MCL Films S.A
 - B.Sting Entertainment, Illumination Pictures, and Aztec Musique

In [23]:
%%sql
SELECT pc.production_company_name, 
       AVG(m.popularity) AS avg_popularity
FROM movies m
JOIN productioncompanymap pcm ON m.movie_id = pcm.movie_id
JOIN productioncompanies pc ON pcm.production_company_id = pc.production_company_id
GROUP BY pc.production_company_name
ORDER BY avg_popularity DESC
LIMIT 3;

 * sqlite:///TMKK.db
Done.

[("The Donners' Company", 514.569956),
 ('Bulletproof Cupid', 481.098624),
 ('Kinberg Genre', 326.92099900000005)]

### Question 10

How many female actors (i.e. gender = 1) have a name that starts with the letter "N"?


**Options:**

 - 0
 - 355
 - 7335
 - 1949

In [24]:
%%sql
SELECT COUNT(*) AS female_actors_N
FROM actors
WHERE gender = 1
  AND actor_name LIKE 'N%';

 * sqlite:///TMKK.db
Done.

[(355,)]

### Question 11

Which genre has, on average, the lowest movie popularity score? 


**Options:**

 - Science Fiction
 - Animation
 - Documentary
 - Foreign

In [25]:
%%sql
SELECT g.genre_name, 
       AVG(m.popularity) AS avg_popularity
FROM movies m
JOIN genremap gm ON m.movie_id = gm.movie_id
JOIN genres g ON gm.genre_id = g.genre_id
GROUP BY g.genre_name
ORDER BY avg_popularity ASC
LIMIT 1;

 * sqlite:///TMKK.db
Done.

[('Foreign', 0.686786794117647)]

### Question 12

Which award category has the highest number of actor nominations (actors can be male or female)? (Hint: `Oscars.name` contains both actors' names and film names.)

**Options:**

- Special Achievement Award
- Actor in a Supporting Role
- Actress in a Supporting Role
- Best Picture

In [26]:
%%sql
SELECT award, COUNT(*) AS nomination_count
FROM oscars
WHERE award LIKE '%Actor%' OR award LIKE '%Actress%'
GROUP BY award
ORDER BY nomination_count DESC
LIMIT 1;

 * sqlite:///TMKK.db
Done.

[('Actress in a Supporting Role', 400)]

### Question 13

For all of the entries in the Oscars table before 1934, the year is stored differently than in all the subsequent years. For example, the year would be saved as “1932/1933” instead of just “1933” (the second indicated year).  Which of the following options would be the appropriate code to update this column to have the format of the year be consistent throughout the entire table (second indicated year only shown)?


**Options:**

- `UPDATE Oscars SET year = RIGHT(year, -4)`
- `UPDATE Oscars SET year = SELECT substr(year, -4)`
- `UPDATE Oscars SET year = substr(year, -4)`
- `UPDATE Oscars year =  substr(year, 4)`

In [ ]:
%%sql
# Add your code here

### Question 14

DStv will be having a special week dedicated to the actor Alan Rickman. Which of the following queries would create a new _view_ that shows the titles, release dates, taglines, and overviews of all movies that Alan Rickman has played in?



**Options:**

- SELECT title, release_date, tagline, overview 
FROM Movies LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors ON Casts.actor_id = Actors.actor_id 
WHERE Actors.actor_name = 'Alan Rickman'
AS VIEW Alan_Rickman_Movies

- CREATE VIEW Alan_Rickman_Movies AS  
SELECT title, release_date, tagline, overview FROM Movies  
LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors
ON Casts.actor_id = Actors.actor_id
WHERE Actors.actor_name = 'Alan Rickman' 


- CREATE NEW VIEW  Name  = Alan_Rickman_Movies AS SELECT title, release_date, tagline, overview FROM Movies LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors ON Casts.actor_id = Actors.actor_id WHERE Actors.actor_name = 'Alan Rickman'

- VIEW Alan_Rickman_Movies AS SELECT title, release_date, tagline, overview FROM Movies LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors ON Casts.actor_id = Actors.actor_id WHERE Actors.actor_name = 'Alan Rickman'

In [29]:
%%sql

SELECT title, release_date, tagline, overview 
FROM Movies LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors ON Casts.actor_id = Actors.actor_id 
WHERE Actors.actor_name = 'Alan Rickman'
AS VIEW Alan_Rickman_Movies

 * sqlite:///TMKK.db
(sqlite3.OperationalError) near "AS": syntax error
[SQL: SELECT title, release_date, tagline, overview
FROM Movies LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors ON Casts.actor_id = Actors.actor_id
WHERE Actors.actor_name = 'Alan Rickman'
AS VIEW Alan_Rickman_Movies]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

### Question 15

Which of the statements about database normalisation are true?

**Statements:**
 
i) Database normalisation improves data redundancy, saves on storage space, and fulfils the requirement of records to be uniquely identified.

ii) Database normalisation supports up to the Third Normal Form and removes all data anomalies.

iii) Database normalisation removes inconsistencies that may cause the analysis of our data to be more complicated.

iv) Database normalisation increases data redundancy, saves on storage space, and fulfils the requirement of records to be uniquely identified.

**Options:**

 - (i) and (ii)
 - (i) and (iii)
 - (ii) and (iv)
 - (iii) and (iv)

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:100px"  ;/>
</div>